/* CSS Styles */

/* General settings */
/* Usually I reset all elements */
* {
/*
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
*/
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.box-shadow {
    box-shadow: 5px 5px 10px rgba(128,128,128,0.5);
}
/* General settings END */

#rk_wrapper {
    width: 800px;
    margin: 0 auto;
}

form input, form select {
    -webkit-transition: border-color 5s linear;
    transition: border-color 0.5s ease;
}

.rk_control_error {
    border-color: #f00;
}

/* Buttons */
.rk_buttons_wrapper {
    margin-top: 15px;
}
.rk_buttons_wrapper ul, .rk_buttons_wrapper li {
    border: 0;
    margin: 0;
    padding: 0;
}
.rk_buttons_wrapper li {
    list-style-type: none;
    padding: 10px;
}
.rk_ul {
    float: right;
}
.rk_form_button {
    color: #fff;
    padding: 10px;
    float: left;
    display: block;
    min-width: 50px;
    height: 40px;
    background-color: rgba(122,122,122,1.0);
    margin-right: 10px;
}
.rk_form_button:last-child {
    margin-right: 3px;
}
/* Buttons END */

#rk_form_result {
    min-height: 50px;
    background-color: rgba(128,128,128,0.2);
}

/* Special for Daniel Knott */
iframe {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}